
.advanced-wrapper {
  border: 2px solid black;
  float: left;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 15px;
}

.advanced-wrapper {
  width: 50%;
}
.editor-container {
  height: 100px;
}
.toolbar-container {
  border-bottom: 2px solid ;
}
.basic-wrapper .toolbar-container {
  padding: 8px 14px;
}
.basic-wrapper .toolbar-container .ql-active,
.basic-wrapper .toolbar-container button:hover {
  color: red;
  font-weight: bold;
}
